<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SiteUrl" value="https://matrix2.sensenet.com" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="EventLogSitesPath" value="/Root/Sites/Azrael/Statistics/EventLogSites" />
    <add key="LiveSystems" value="/Root/Sites/Azrael/Statistics/EventLogSites/livesystems" />
    <add key="TestSystems" value="/Root/Sites/Azrael/Statistics/EventLogSites/testsystems" />
    <add key="Token" value="d97d67a7-e8bc-4a08-88e8-4e1e45d28b9a" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>